<a href="https://colab.research.google.com/github/l226999/AI-Lab1/blob/main/Lab1AI(22L_6999).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab1**



---

## **Question#1**

In [1]:
name=input("Enter your name:")
age=input("Enter your age:")
print("Welcome ",name," to Lab1")

Enter your name:ibrahim
Enter your age:20
Welcome  ibrahim  to Lab1

# **Question#2**

In [ ]:

def determine_type(user_input):
  try:
    user_input=int(user_input)
    return user_input,"int"
  except ValueError:
    try:
      user_input=float(user_input)
      return user_input,"float"
    except ValueError:

      return user_input,"string"





user_input=input("Enter anything:")

value,data_type=determine_type(user_input)

print(f"You entered:{user_input}")
print(f"Data type:{data_type}")

# **Question#3**

In [20]:
this_list=["Apple","banana","orange"]
print("Printing the elements of list\n")
print(this_list)
print("Adding elements in list")
this_list.append("pear")
print(this_list)
print("Removing elements in list")
try:
  this_list.remove("Apple")
  print(f"Removed successfully")
except ValueError:
  print("Element not found")
print(this_list)
print(f"Printing each element capital")
for x in this_list:
  print(x.upper())

Printing the elements of list

['Apple', 'banana', 'orange']
Adding elements in list
['Apple', 'banana', 'orange', 'pear']
Removing elements in list
Removed successfully
['banana', 'orange', 'pear']
Printing each element capital
BANANA
ORANGE
PEAR

# **Question#4**

In [21]:
this_tuple=("iphone","nothing","xiaomi")
print(f"This is the tuple",{this_tuple})
element1=this_tuple[0]
element2=this_tuple[1]

print(f"Element1:{element1}")
print(f"Element2:{element2}")

This is the tuple {('iphone', 'nothing', 'xiaomi')}
Element1:iphone
Element2:nothing

# **Question#5**

In [23]:
entries = int(input("Enter the number of entries: "))
my_dict={input("Enter the student:"):input("Enter the Grade:") for _ in range (entries)}
print(my_dict)

Enter the number of entries: 2
Enter the studentibrahim
Enter the GradeA
Enter the studentali
Enter the GradeB
{'ibrahim': 'A', 'ali': 'B'}

# **Question#6**

In [28]:
n=input(f"Enter the number entries of list1:")
list1=[input("Enter the elements:") for _ in range(int(n))]
m=input(f"Enter the number entries of list2:")
list2=[input("Enter the elements:") for _ in range(int(m))]
print(f"Making the union")
list3=set(list1).union(set(list2))
print(f"The union is {list3}")
print(f"Making the intersection")
list4=set(list1).intersection(set(list2))
print(f"The intersection is {list4}")
print(f"Making the difference")
list5=list(set(list1)-set(list2))
print(f"The difference is {list5}")

Enter the number entries of list1:2
Enter the elements:a
Enter the elements:b
Enter the number entries of list2:2
Enter the elements:a
Enter the elements:c
Making the union
The union is {'b', 'c', 'a'}
Making the intersection
The intersection is {'a'}
Making the difference
The difference is ['b']

# **Question#7**

In [31]:
number=input("Enter the number:")
try:
  number=int(number)
  if int(number)%2==0:
    print(f"{number} is even")
  else:
    print(f"{number} is odd")
  if(number>0):
    print(f"{number} is positive")
  elif(number<0):
    print(f"{number} is negative")
  else:
    print(f"{number} is zero")
except ValueError:
  print("Invalid input")
  exit()

Enter the number:-11
-11 is odd
-11 is negative

# **Question#8**

In [33]:
for x in range(50):
  if(x%3==0 and x%5==0):
    print('FizzBuzz')
  elif(x%3==0):
    print('Fizz')
  elif(x%5==0):
    print('Buzz')

  else:
    print(x)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

# **Question#9**

In [35]:

def factorial(n):
  if n==0:
    return 1
  else:
    product=1
    for x in range(n):
      product=product*(x+1)
    print(f"The factorial of {n} is {product}")





number=int(input("Enter the number:"))
try:
  number=int(number)
  if(number>0):
    factorial(number)
  else:
    print("Invalid input")


except ValueError:
  print("Invalid input")

Enter the number:4
The factorial of 4 is 24

# **Question#10**

In [40]:
def isPrime(number):
  for x in range(number):
    if(x>1):
      if(number%x==0):
        print(f"{number} is not a prime number")
        return
  print(f"{number} is a prime number")


number=int(input("Enter the number:"))
try:
  number=int(number)
  if(number>1):
    isPrime(number)
  else:
    print("Number should be greater than 1")
except ValueError:
  print("Invalid input")
  exit()

Enter the number:100
100 is not a prime number

# **Question#11**

In [47]:
def square_list(my_list):
  squared_list=[x**2 for x in my_list]
  return squared_list

number=input("Enter the number of entries:")
my_list=[int(input("Enter the item of list:")) for _ in range(int(number))]
print(f"This is the normal list {my_list}")
squared_list=square_list(my_list)
print(f"This is the squared list {squared_list}")
print(squared_list)

Enter the number of entries:2
Enter the item of list:2
Enter the item of list:3
This is the normal list [2, 3]
This is the squared list [4, 9]
[4, 9]

# **Question#12**

In [49]:
number1=int(input("Enter the number of entries of dict1:"))
my_dict1={input("Enter the key:"):input("Enter the value:") for _ in range(int(number1))}
number2=int(input("Enter the number of entries of dict2:"))
my_dict2={input("Enter the key:"):input("Enter the value:") for _ in range(int(number2))}
my_dict1.update(my_dict2)
print(my_dict1)

Enter the number of entries of dict1:3
Enter the key:1
Enter the value:hello
Enter the key:2
Enter the value:ji
Enter the key:3
Enter the value:kya
Enter the number of entries of dict2:2
Enter the key:2
Enter the value:sam
Enter the key:4
Enter the value:ali
{'1': 'hello', '2': 'sam', '3': 'kya', '4': 'ali'}

# **Question#13**

In [76]:
def remove_dup(my_list):
  counter=0
  print(f"This is the list {my_list}")
  for x in my_list:
      for y in my_list:
        if x==y:
          counter=counter+1

      if(counter>1):
          print(counter)
          for z in range(counter-1):
            my_list.remove(x)
          counter=0
  print(f"This is the list after removing the duplicates {my_list}")

number=input("Enter the number of entries:")
my_list=[int(input("Enter the item of list:")) for _ in range(int(number))]
remove_dup(my_list)

Enter the number of entries:4
Enter the item of list:1
Enter the item of list:1
Enter the item of list:2
Enter the item of list:3
This is the list [1, 1, 2, 3]
2
2
This is the list after removing the duplicates [1, 2]

# **Question#14**

In [86]:

is_palindrome = lambda string: string.lower().replace(" ", "") == string.lower().replace(" ", "")[::-1]
string = input("Enter a string: ")
if is_palindrome(string):
    print(f"{string} is a palindrome.")
else:
    print(f"{string} is not a palindrome.")

Enter a string: alan
alan is not a palindrome.

# **Question#15**

In [ ]:


def fibonacci_sequence(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        list_fib = [0, 1]
        while len(list_fib) < n:
            next_fib = list_fib[-1] + list_fib[-2]
            list_fib.append(next_fib)
        return list_fib


num_terms = int(input("Enter the number of terms: "))


fib_sequence = fibonacci_sequence(num_terms)
print("Fibonacci Sequence:", fib_sequence)

# **Question#16**

In [ ]:


def calculate_average():
    numbers = []
    while True:
        try:
            user_input = input("Enter a number (or 'done' to finish): ")
            if user_input.lower() == 'done':
                break
            number = float(user_input)
            numbers.append(number)
        except ValueError:
            print("Invalid input. Please enter a valid number or 'done'.")

    if not numbers:
        print("No numbers entered.")
        return

    average = sum(numbers) / len(numbers)
    print(f"The average of the entered numbers is: {average}")

calculate_average()

# **Question#17**

In [84]:

for i in range(1, 11):
  for j in range(1, 11):
    print(f"{i} * {j} ={i * j}")
  print()

1 * 1 =1
1 * 2 =2
1 * 3 =3
1 * 4 =4
1 * 5 =5
1 * 6 =6
1 * 7 =7
1 * 8 =8
1 * 9 =9
1 * 10 =10

2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20

3 * 1 =3
3 * 2 =6
3 * 3 =9
3 * 4 =12
3 * 5 =15
3 * 6 =18
3 * 7 =21
3 * 8 =24
3 * 9 =27
3 * 10 =30

4 * 1 =4
4 * 2 =8
4 * 3 =12
4 * 4 =16
4 * 5 =20
4 * 6 =24
4 * 7 =28
4 * 8 =32
4 * 9 =36
4 * 10 =40

5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50

6 * 1 =6
6 * 2 =12
6 * 3 =18
6 * 4 =24
6 * 5 =30
6 * 6 =36
6 * 7 =42
6 * 8 =48
6 * 9 =54
6 * 10 =60

7 * 1 =7
7 * 2 =14
7 * 3 =21
7 * 4 =28
7 * 5 =35
7 * 6 =42
7 * 7 =49
7 * 8 =56
7 * 9 =63
7 * 10 =70

8 * 1 =8
8 * 2 =16
8 * 3 =24
8 * 4 =32
8 * 5 =40
8 * 6 =48
8 * 7 =56
8 * 8 =64
8 * 9 =72
8 * 10 =80

9 * 1 =9
9 * 2 =18
9 * 3 =27
9 * 4 =36
9 * 5 =45
9 * 6 =54
9 * 7 =63
9 * 8 =72
9 * 9 =81
9 * 10 =90

10 * 1 =10
10 * 2 =20
10 * 3 =30
10 * 4 =40
10 * 5 =50
10 * 6 =60
10 * 7 =70
10 * 8 =80
10 * 9 =90
10 * 10 =100

# **Question#18**

In [80]:
noUsers=int(input("Enter the number of users:"))
my_dict={input("Enter the password:"): input("Enter the name of user:") for _ in range(noUsers)}
print(f"This is the dictionary {my_dict}")

Enter the number of users:2
Enter the password:123
Enter the name of user:ibrahim
Enter the password:345
Enter the name of user:ali
This is the dictionary {'123': 'ibrahim', '345': 'ali'}

# **Question#19**

In [78]:
number=int(input("Enter the number of entries of list:"))
my_list=[input("Enter the item of list:") for _ in range(number)]

my_dict = {}


for x in my_list:

    my_dict[x] = my_dict.get(x, 0) + 1
print(my_dict)

Enter the number of entries of list:3
Enter the item of list:2
Enter the item of list:3
Enter the item of list:2
{'2': 2, '3': 1}

# **Question#20**

In [77]:
def temp_convertor(temp,choice):
  if choice=='c':
   temp_f=(temp*9/5)+32
   print(f"The temperature in fahrenheit is {temp_f}")
  elif choice=='f':
   temp_c=(temp-32)*5/9
   print(f"The temperature in celsius is {temp_c}")


choice=input("How do you want to enter temperature(c for celsius and f for fahrenheit):")
choice=choice.lower()
temp=input("Enter the temperature:")
temp_convertor(int(temp),choice)

How do you want to enter temperature(c for celsius and f for fahrenheit):c
Enter the temperature:37
The temperature in fahrenheit is 98.6